<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/main.css'/>
</head>
<body>
<main id="app" class="login-grid">
<section class="container">
  <div class="login-container">
    <h2>Login</h2>
    <form class="form-login"action="chat.html">
      <div>
        <label for="username">Username:</label>
        <input class="username" id="nickname" v-model="nickname" type="text" placeholder="username" required/>
      </div>
      <a href="/chat" type="submit" value="Login">Login</a>
      <!--<router-link to="/chat">Go to chat  </router-link>
      <router-link to="/login">log out</router-link>-->
    </form>
  </div>
</section>
</main>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/vue-router@4"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js" type="module" defer></script>
</body>
</html>